.listing-item.seller-non-grata {
  background-color: #ffcccc !important;
  border: #d30311 2px solid !important;
}

.listing-item.super-seller {
  background-color: #ccffcc !important;
  border: #38a738 2px solid !important;
}

.tab-content.non-direct-package.seller-non-grata {
  border: #d30311 2px solid;
}

.tab-content.non-direct-package.seller-non-grata::after {
  background-color: #ffcccc;
}

.tab-content.non-direct-package.super-seller {
  border: #38a738 2px solid;
}

.tab-content.non-direct-package.super-seller::after {
  background-color: #ccffcc;
}
