.listing-item.product-details__listings-results.seller-non-grata {
  background-color: #ffcccc;
  border: #d30311 2px solid;
}

.listing-item.product-details__listings-results.super-seller {
  background-color: #ccffcc;
  border: #38a738 2px solid;
}

.tab-content.non-direct-package.seller-non-grata {
  border: #d30311 2px solid;
}

.tab-content.non-direct-package.seller-non-grata::after {
  background-color: #ffcccc;
}

.tab-content.non-direct-package.super-seller {
  border: #38a738 2px solid;
}

.tab-content.non-direct-package.super-seller::after {
  background-color: #ccffcc;
}
